<article class="article-detail">
  <h1 class="article-detail-title"><%= @article.title %></h1>

  <div class="glyphicon glyphicon-calendar" id="article-date"><%= @article.created_at.strftime("%b %d %Y")%></div>

  <div class="article-body">
    <%= @article.body %>
  </div>
  <% if user_signed_in? and current_user == @article.user %>
  <div class="edit-delete">
    <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-primary btn-lg btn-space" %>
    <%= link_to "Delete Article", article_path(@article), method: :delete, data: { confirm: "Are you sure want to delete article?"}, class: "btn btn-primary btn-lg btn-space" %>
  </div>
  <% end %>
</article>